
.footer-grid{
margin-top: 100px;
margin-bottom: 100px;
display: grid;
height: 250px;
width: 250px;
grid-template-columns: 1fr 1fr ;
grid-template-rows: 1fr 1fr ; 
transform: rotate(45deg); 
gap: 10px;
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans JP', sans-serif;

}

.footer-box{
    position: relative;
    top: 0;
    left: 0;
    transition: ease 0.3s;
    border-radius: 20%;
    box-shadow: -10px -10px 15px rgb(255, 255, 255,0.5),
                10px 10px 15px rgb(70, 70, 70,0.12),
                inset -10px -10px 15px rgb(255, 255, 255,0.5),
                inset 10px 10px 15px rgb(70, 70, 70,0.12);
}

.footer-box:hover{
    top: 5px;
    left: 5px;
}

.footer-box .rotate a{
    margin: 55px 0 0 10px;
    text-align: center;
    font-size: 80px;
    line-height: 50px;
}