.container-grid{
    display: grid;
    height: 450px;
    width: 450px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    transform: rotate(45deg); 
    gap: 10px;
    font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans JP', sans-serif;
}

.box-header-1{
    background-image: url(./img/104413.jpg);
    background-size: cover;
    border-radius: 10px;
    filter: grayscale(1);
}
.box-header-1:hover{
    animation: laudas1 10s infinite;
    transition: all 0.3s ease;
    filter: grayscale(0);
}
.box-header-2{
    background-image: url(./img/104414.jpg);
    background-size: cover;    
    border-radius: 10px;
     filter: grayscale(1);
}
.box-header-2:hover{
    animation: laudas1 10s infinite;
    transition: all 0.3s ease;
     filter: grayscale(0);
}
.box-header-3{
    background-image: url(./img/10441.png.jpg);
    background-size: cover;    
    border-radius: 10px;
     filter: grayscale(1);
}
.box-header-3:hover{
    animation: laudas1 10s infinite;
    transition: all 0.3s ease;
     filter: grayscale(0);
}
.box-header-4{
    background-image: url(./img/104412.jpg);
    background-size: cover;    
    border-radius: 10px;
     filter: grayscale(1);
}
.box-header-4:hover{
    animation: laudas1 10s infinite;
    transition: all 0.3s ease;
     filter: grayscale(0);
}


/* 
.box-header-1::before{
    display: none;
    content: 'Jaunikio rytas';
    position:absolute;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    
    padding: 10px 20px 10px 15px;
    font-size: 20px;
    transform: rotate(-45deg);
    color: var(--hover-color);
    left: 0px;
    top: 0px;
    opacity: 0;
    margin-top: 15px;
    transition: all ease 0.5s;
   
    
    animation:
                laudas 1s forwards;
  }

  
.box-header-1:hover::before{
    display: inline;
}

  .box-header-2::before{
    display: none;
    content: 'Ceremonija';
    position:absolute;
    border-radius: 5px;
    padding: 10px 20px 10px 0px;
    font-size: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;    
    transform: rotate(-45deg);
    color: var(--hover-color);
    left: 0px;
    top: 0px;
    opacity: 0;
    margin-top: 15px;
    transition: all ease 0.5s;
   
    
    animation:
                laudas 1s forwards;
  }
  

.box-header-2:hover::before{
    display: inline;
}

.box-header-3::before{
    display: none;
    content: 'Vestuvių fotosesijos';
    position:absolute;
    border-radius: 5px;
    padding: 10px 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-weight: bold;
    transform: rotate(-45deg);
    color: var(--hover-color);
    left: 0px;
    top: 0px;
    
    padding: 5px 20px 10px 0px;
    font-size: 20px;
    opacity: 0;
    margin-top: 15px;
    transition: all ease 0.5s;
   
    
    animation:
                laudas 1s forwards;
    
    
  }

 

.box-header-3:hover::before{
    display: inline;
}

.box-header-4::before{
    display: none;
    content: 'Nuotakos rytas';
    position:absolute;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    transform: rotate(-45deg);
    color: var(--hover-color);
    
    padding: 15px 20px 10px 10px;
    font-size: 20px;
    left: 0px;
    top: 0px;
    opacity: 0;
    margin-top: 15px;
    transition: all ease 0.5s;
   
    
    animation:
                laudas 1s forwards;
  }


  
  
.box-header-4:hover::before{
    display: inline;
} */




/* jjjjjjjjjjjjjjjjjjj */



/* ffffffffffffffffffffffffff */











  @keyframes laudas0{
    0% {
        opacity: 0;
        border-radius: 0px;
        left: 0px;
        top: 0px;

    }
    100%{
        opacity: 1;
        border-radius: 15px;
        left: 110px;
        top: -16px;
    }

  }

  @keyframes laudas2 {

    0% {
        opacity: 0;
        border-radius: 0px;
        top: 0px;

    }
    100%{
        opacity: 1;
        border-radius: 15px;
        top: 95px;
    }
  }

  @keyframes laudas {

    0% {
        opacity: 0;
        left: 0px;
        top: 0px;

    }
    100%{
        opacity: 1;

        left: 0px;
        top: 0px;
    }
  }

  @keyframes laudas1 {

    0% {
        
      
      background-image: url(./img/104412.jpg);
    }
    10%{

        background-image: url(./img/104413.jpg);
    }

    20%{
        background-image: url(./img/104414.jpg);
    }
    
    
    30% {
      
        background-image: url(./img/10441.png.jpg);
      
    }
    40% {
        
      
        background-image: url(./img/104412.jpg);
      }
      50%{
  
          background-image: url(./img/104413.jpg);
      }
  
      60%{
          background-image: url(./img/104414.jpg);
      }
      
      
      100% {
        
          background-image: url(./img/10441.png.jpg);
        
      }
  }



h3{
    font-size: 15px;
    margin: 37px 0 0 8px;
}
.box2{
    /* border: 2px solid var(--border-color); */
    border-radius: 5px;
    position: relative;
    top: 0;
    left: 0;
    transition: ease 0.3s;
    box-shadow: -10px -10px 15px rgb(255, 255, 255,0.5),
                10px 10px 15px rgb(70, 70, 70,0.12),
                inset -10px -10px 15px rgb(255, 255, 255,0.5),
                inset 10px 10px 15px rgb(70, 70, 70,0.12);
    
}
.box2:hover{
    border: 0px solid rgb(0, 0, 0, 0%);
    top: 5px;
    left: 5px;
    
    box-shadow: -10px -10px 15px rgb(255, 255, 255,0.5),
                10px 10px 15px rgb(70, 70, 70,0.12),
                inset -10px -10px 15px rgb(255, 255, 255,0.5),
                inset 10px 10px 15px rgb(70, 70, 70,0.12);
}

.box1{
    /* border: 2px solid var(--border-color); */
    border-radius: 5px;
    position: relative;
    top: 0;
    left: 0;
    transition: ease 0.3s;
    
}
.box1:hover{
    border: 0px solid rgb(0, 0, 0, 0%);
    top: 5px;
    left: 5px;
    
    box-shadow: -10px -10px 15px rgb(255, 255, 255,0.5),
                10px 10px 15px rgb(70, 70, 70,0.12);
}
.first{
    border-radius: 100% 0% 100% 0% / 100% 100% 0% 0% ;
    
    position: relative;
    top: 0;
    left: 0;
    transition: ease 0.3s;
    box-shadow: -10px -10px 15px rgb(255, 255, 255,0.5),
                10px 10px 15px rgb(70, 70, 70,0.12),
                inset -10px -10px 15px rgb(255, 255, 255,0.5),
                inset 10px 10px 15px rgb(70, 70, 70,0.12);
}
.first:hover{
    top: -5px;
    left: -5px;
}

.first:hover .box2{
    border: 0px solid rgb(0, 0, 0, 0%);
    top: 5px;
    left: 5px;
    
    box-shadow: -10px -10px 15px rgb(255, 255, 255,0.5),
                10px 10px 15px rgb(70, 70, 70,0.12),
                inset -10px -10px 15px rgb(255, 255, 255,0.5),
                inset 10px 10px 15px rgb(70, 70, 70,0.12);
}





/* ikonu hoveriai */


.box2:hover .size{
    color: var(--hover-color);
}
.box-right:hover .size2{
    color: var(--hover-color);
}
.box-left:hover .size3{
    color: var(--hover-color);
}


/* ikonu hoveriai */


.box-left{
    border-radius: 100% 0% 0% 100% / 0% 100% 0% 100% ;
    position: relative;
    top: 0;
    right: 0;
    transition: ease 0.3s;
    box-shadow: -10px -10px 15px rgb(255, 255, 255,0.5),
                10px 10px 15px rgb(70, 70, 70,0.12),
                inset -10px -10px 15px rgb(255, 255, 255,0.5),
                inset 10px 10px 15px rgb(70, 70, 70,0.12);
}
.box-left:hover{
    border: 0px solid rgb(0, 0, 0, 0%);
    top: 5px;
    right: 5px;   

}
.box-left:hover .symbol{
    color: var(--secondary-color); 
}

.box-right{
    border-radius: 0% 100% 100% 0% / 0% 100% 0% 100%  ;
    position: relative;
    top: 0;
    left: 0;
    transition: ease 0.3s;
    box-shadow: -10px -10px 15px rgb(255, 255, 255,0.5),
    10px 10px 15px rgb(70, 70, 70,0.12),
    inset -10px -10px 15px rgb(255, 255, 255,0.5),
    inset 10px 10px 15px rgb(70, 70, 70,0.12);
}
.box-right:hover{
    top: -5px;
    left: 5px;
    color: var(--hover-color);
}
.box-right:hover .symbol{
    
    color: var(--secondary-color);
}
.rotate{
    transform: rotate(-45deg);
}
.link{
    text-decoration: none;
    color: transparent;
}
.link-2{
    width: 100%;
    height: 100%;
}
.h2{
    margin-top: 70px;
    margin-left: 40px;
    text-transform: uppercase;
    color: white;
}
.symbol{
    margin: 25px 0 0 20px;    
    color: rgb(0, 0, 0);
    transition: ease 0.5s;
}


.container .material-symbols-outlined {
    font-size: 50px;
}
.box1:hover .symbol{
    color: var(--secondary-color);
}


.pading{
    height: 100px;
}

.logo{
    margin: 40px 0 0 20px;
    height: 60px;
    
}
.margin{
    margin: 25px 0 0px 35px;
}
.rotate .margin-right{
    margin: 35px 0 0 10px;
}

.box-bottom{
    border: 2px solid var(--border-color);
    border-radius: 0% 100% 100% 0% / 0% 0% 100% 100% ;
    position: relative;
    top: 0;
    left: 0;
    transition: ease 0.3s;
}
.box-bottom:hover{
    border: 0px solid rgb(0, 0, 0, 0%);
    top: -5px;
    left: 5px;
    
    box-shadow: 5px 5px 10px var(--shadow-collor),
                -5px -5px 10px var(--shadow-collor);
}
.box-bottom:hover .symbol{
    color: var(--secondary-color);
}
.pading-2{
    margin-top: 40px;
}


/* pop menu start */

.dropbtn {
    background-color: transparent;
    color: black;
    border:none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  .dropdown-content {
    transform: rotate(-45deg);
    display: none;
    position: absolute;
    background-color: #fff;
    width: 250px;
    box-shadow: -10px -10px 15px rgb(255, 255, 255,0.5),
                10px 10px 15px rgb(70, 70, 70,0.12),
                inset -10px -10px 15px rgb(255, 255, 255,0.5),
                inset 10px 10px 15px rgb(70, 70, 70,0.12);
    border-radius: 13% 87% 45% 55% / 27% 10% 90% 73% ;
    z-index: auto;
    left: 135px;
    top: -50px;
    text-align: center;
    z-index: 1;
    transition: all 2s ease;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
  }

  .mobile-icons{
      text-align: center;
      cursor: pointer;
      font-size: 30px;
  }
  .mobile-icons > i{
      padding: 0 10px;
  }
  /*  */
  .mobile-icons > i:hover {color: var(--primary-color);}
  .dropdown-content a:hover {color: var(--hover-color);}
  
  .dropdown:hover .dropdown-content {
      display: block;
    }

.about:hover::before{
  display: inline;
}


/* pop menu end */

.gridas{
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end:  5;
  background-color: transparent;
  border-radius: 15px;
  transition: all 1s ease;
  background-image: url(./img/10441.png.jpg);
  background-size: cover;
  filter: grayscale(1);
  animation: laudas1 10s infinite;
              
}
.gridas:hover{
    
  filter: grayscale(0);
}


.flex-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}

.pading-3{
    padding: 8px;
}

@media (min-width: 1200px){
    .first::before{
        content: '';
        position:absolute;
        text-align: center;
        width: 300px;
        height: 300px;
        border-radius: 10px;
        left: 35px;
        top: 445px;
        margin-top: 15px;
        opacity: 1;
        transition: ease 0.3s;
    box-shadow: -10px -10px 15px rgb(255, 255, 255,0.5),
                10px 10px 15px rgb(70, 70, 70,0.12),
                inset -10px -10px 15px rgb(255, 255, 255,0.5),
                inset 10px 10px 15px rgb(70, 70, 70,0.12);
        
    }

    .first::after{
        content: '';
        position:absolute;
        text-align: center;
        background-image: url(./img/Pasion.png);
        background-size: 300px;
        text-align: center;
        width: 300px;
        height: 300px;
        border-radius: 10px;
        left: 460px;
        top: 20px;
        margin-top: 15px;
        opacity: 1;
        transition: ease 0.3s;
        box-shadow: -10px -10px 15px rgb(255, 255, 255,0.5),
                10px 10px 15px rgb(70, 70, 70,0.12),
                inset -10px -10px 15px rgb(255, 255, 255,0.5),
                inset 10px 10px 15px rgb(70, 70, 70,0.12);
        
        transition: all ease 0.3s;
        
    }



.gridas:hover::before{
    
    content: 'Sukurkime Jūsų Meilės pasaką kartu';
    position:absolute;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0px;
  text-align: center;
    width: 0%;
    height: 2px;
    bottom: 2px;
    right: 2px;
    background:var(--hover-color);
    z-index: 1; 
    animation: laudas13 1s;
    animation-fill-mode: forwards;
    border-radius: 5px 0 5px 5px;
}
    @keyframes laudas13 {
        0%{
            font-size: 0px;
            width: 0px;
            

        }

        100%{
            font-size: 20px;
            width: 350px;
        }
    
} 

.gridas:hover::after{
    content: '';
    position:absolute;
    
  text-align: center;
    width: 2px;
    height: 0;
    bottom: 3px;
    right: 2px;
    transform: rotate(0deg);
    background:var(--hover-color);
    z-index: 1; 
    animation: laudas12 1s;
    animation-fill-mode: forwards;
    border-radius: 5px;
}
    @keyframes laudas12 {
        0%{
            height: 0px;
            

        }

        100%{
            height: 350px;
        }
    
} 
}