.container-grid{
    display: grid;
    height: 650px;
    width: 650px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    transform: rotate(45deg); 
    gap: 10px;
}

.box-header-1{
    background-image: url(./img/10441.png.jpg);
    background-size: cover;
}
.box-header-2{
    background-image: url(./img/104412.jpg);
    background-size: cover;
}
.box1{
    border: 2px solid var(--border-color);
    border-radius: 5px;
    position: relative;
    top: 0;
    left: 0;
    transition: ease 0.3s;
}
.box1:hover{
    border: 0px solid rgb(0, 0, 0, 0%);
    top: 5px;
    left: 5px;
    
    box-shadow: 5px 5px 10px var(--shadow-collor),
                -5px -5px 10px var(--shadow-collor);
}
.box-left{
    border: 2px solid var(--border-color);
    border-radius: 100% 0% 0% 100% / 0% 100% 0% 100% ;
    position: relative;
    top: 0;
    right: 0;
    transition: ease 0.3s;
}
.box-left:hover{
    border: 0px solid rgb(0, 0, 0, 0%);
    top: 5px;
    right: 5px;
    
    box-shadow: 5px 5px 10px var(--shadow-collor),
                -5px -5px 10px var(--shadow-collor);
    

}
.box-left:hover .symbol{
    color: var(--secondary-color); 
}
.box-right{
    border: 2px solid var(--border-color);
    border-radius: 0% 100% 100% 0% / 0% 100% 0% 100%  ;
    position: relative;
    top: 0;
    left: 0;
    transition: ease 0.3s;
}
.box-right:hover{
    border: 0px solid rgb(0, 0, 0, 0%);
    top: -5px;
    left: 5px;
    
    box-shadow: 5px 5px 10px var(--shadow-collor),
                -5px -5px 10px var(--shadow-collor);
}
.box-right:hover .symbol{
    
    color: var(--secondary-color);
}
.rotate{
    transform: rotate(-45deg);
}
.link{
    text-decoration: none;
    color: white;
}
.h2{
    margin-top: 70px;
    margin-left: 40px;
    text-transform: uppercase;
    color: white;
}
.symbol{
    margin: 40px 0 0 30px;    
    color: rgb(0, 0, 0);
    transition: ease 0.5s;
}


.container .material-symbols-outlined {
    font-size: 60px;
}
.box1:hover .symbol{
    color: var(--secondary-color);
}
.first{
    border: 2px solid var(--border-color);
    border-radius: 100% 0% 100% 0% / 100% 100% 0% 0% ;
    
    position: relative;
    top: 0;
    left: 0;
    transition: ease 0.3s;
}
.first:hover{
    top: -5px;
    left: -5px;
    box-shadow: 5px 5px 10px var(--shadow-collor),
                -5px -5px 10px var(--shadow-collor);
}

.pading{
    height: 100px;
}

.logo{
    margin: 55px 0 0 12px;
    height: 80px;
    
}
.margin{
    margin: 40px 0 0px 45px;
}
.rotate .margin-right{
    margin: 35px 0 0 10px;
}