.container-grid{
    display: grid;
    height: 450px;
    width: 450px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    transform: rotate(45deg); 
    gap: 10px;
}

.box-header-1{
    background-image: url(./img/10441.png.jpg);
    background-size: cover;
}
.box-header-2{
    background-image: url(./img/104412.jpg);
    background-size: cover;
}
.box-header-3{
    background-image: url(./img/104413.jpg);
    background-size: cover;
}
.box-header-4{
    background-image: url(./img/104414.jpg);
    background-size: cover;
}


.box-header-4::before{
    display: none;
    content: '';
    position:absolute;
    width: 100px;
    height: 100px;
    border: 2px solid var(--border-color);
    border-radius: 15px;
    left: 0;
    top:95px;
    margin-top: 15px;
    transition: all ease 0.5s;
    background-image: url();


    background-image: url(./img/10441.png.jpg);
    background-size: cover;
    animation: laudas1 10s infinite;
  }
  
  @keyframes laudas1 {

    0% {
        
      
      background-image: url(./img/104412.jpg);
    }
    10%{

        background-image: url(./img/104413.jpg);
    }

    20%{
        background-image: url(./img/104414.jpg);
    }
    
    
    30% {
      
        background-image: url(./img/10441.png.jpg);
      
    }
    40% {
        
      
        background-image: url(./img/104412.jpg);
      }
      50%{
  
          background-image: url(./img/104413.jpg);
      }
  
      60%{
          background-image: url(./img/104414.jpg);
      }
      
      
      100% {
        
          background-image: url(./img/10441.png.jpg);
        
      }
  }

.box-header-4:hover::before{
    display: inline;
}


/* jjjjjjjjjjjjjjjjjjj */

.box-header-2::before{
    display: none;
    content: '';
    position:absolute;
    width: 100px;
    height: 100px;
    border: 2px solid var(--border-color);
    border-radius: 15px;
    left: 0;
    top:95px;
    margin-top: 15px;
    transition: all ease 0.5s;
    background-image: url();


    background-image: url(./img/10441.png.jpg);
    background-size: cover;
    animation: laudas1 10s infinite;
  }
  
  @keyframes laudas1 {

    0% {
        
      
      background-image: url(./img/104412.jpg);
    }
    10%{

        background-image: url(./img/104413.jpg);
    }

    20%{
        background-image: url(./img/104414.jpg);
    }
    
    
    30% {
      
        background-image: url(./img/10441.png.jpg);
      
    }
    40% {
        
      
        background-image: url(./img/104412.jpg);
      }
      50%{
  
          background-image: url(./img/104413.jpg);
      }
  
      60%{
          background-image: url(./img/104414.jpg);
      }
      
      
      100% {
        
          background-image: url(./img/10441.png.jpg);
        
      }
  }

.box-header-2:hover::before{
    display: inline;
}

/* ffffffffffffffffffffffffff */


.box-header-3::before{
    display: none;
    content: '';
    position:absolute;
    width: 100px;
    height: 100px;
    border: 2px solid var(--border-color);
    border-radius: 15px;
    left: 0px;
    top: 0px;
    margin-top: 15px;
    transition: all ease 0.5s;
    background-image: url();


    background-image: url(./img/10441.png.jpg);
    background-size: cover;
    -webkit-animation: laudas forwards 1s;
    -webkit-animation: laudas1  20s infinite;
    
  }
  
  @-webkit-keyframes laudas1 {

    0% {
        
      
      background-image: url(./img/104412.jpg);
    }
    10%{

        background-image: url(./img/104413.jpg);
    }

    20%{
        background-image: url(./img/104414.jpg);
    }
    
    
    30% {
      
        background-image: url(./img/10441.png.jpg);
      
    }
    40% {
        
      
        background-image: url(./img/104412.jpg);
      }
      50%{
  
          background-image: url(./img/104413.jpg);
      }
  
      60%{
          background-image: url(./img/104414.jpg);
      }
      
      
      100% {
        
          background-image: url(./img/10441.png.jpg);
        
      }
  }
  @-webkit-keyframes laudas {

    0% {
        left: 0px;
        top: 0px;

    }
    100%{

        left: 40px;
        top: -55px;
    }
  }

.box-header-3:hover::before{
    display: inline;
}


.box-header-1::before{
    display: none;
    content: '';
    position:absolute;
    width: 100px;
    height: 100px;
    border: 2px solid var(--border-color);
    border-radius: 15px;
    left: 110px;
    top: -16px;
    margin-top: 15px;
    transition: all ease 0.5s;
    background-image: url();


    background-image: url(./img/10441.png.jpg);
    background-size: cover;
    animation: laudas1 10s infinite;
  }
  
  @keyframes laudas1 {

    0% {
        
      
      background-image: url(./img/104412.jpg);
    }
    10%{

        background-image: url(./img/104413.jpg);
    }

    20%{
        background-image: url(./img/104414.jpg);
    }
    
    
    30% {
      
        background-image: url(./img/10441.png.jpg);
      
    }
    40% {
        
      
        background-image: url(./img/104412.jpg);
      }
      50%{
  
          background-image: url(./img/104413.jpg);
      }
  
      60%{
          background-image: url(./img/104414.jpg);
      }
      
      
      100% {
        
          background-image: url(./img/10441.png.jpg);
        
      }
  }

.box-header-1:hover::before{
    display: inline;
}


h3{
    font-size: 15px;
    margin: 37px 0 0 8px;
}
.box1{
    border: 2px solid var(--border-color);
    border-radius: 5px;
    position: relative;
    top: 0;
    left: 0;
    transition: ease 0.3s;
}
.box1:hover{
    border: 0px solid rgb(0, 0, 0, 0%);
    top: 5px;
    left: 5px;
    
    box-shadow: 5px 5px 10px var(--shadow-collor),
                -5px -5px 10px var(--shadow-collor);
}
.box-left{
    border: 2px solid var(--border-color);
    border-radius: 100% 0% 0% 100% / 0% 100% 0% 100% ;
    position: relative;
    top: 0;
    right: 0;
    transition: ease 0.3s;
}
.box-left:hover{
    border: 0px solid rgb(0, 0, 0, 0%);
    top: 5px;
    right: 5px;
    
    box-shadow: 5px 5px 10px var(--shadow-collor),
                -5px -5px 10px var(--shadow-collor);
    

}
.box-left:hover .symbol{
    color: var(--secondary-color); 
}
.box-right{
    border: 2px solid var(--border-color);
    border-radius: 0% 100% 100% 0% / 0% 100% 0% 100%  ;
    position: relative;
    top: 0;
    left: 0;
    transition: ease 0.3s;
}
.box-right:hover{
    border: 0px solid rgb(0, 0, 0, 0%);
    top: -5px;
    left: 5px;
    
    box-shadow: 5px 5px 10px var(--shadow-collor),
                -5px -5px 10px var(--shadow-collor);
}
.box-right:hover .symbol{
    
    color: var(--secondary-color);
}
.rotate{
    transform: rotate(-45deg);
}
.link{
    text-decoration: none;
    color: transparent;
}
.link-2{
    width: 100%;
    height: 100%;
}
.h2{
    margin-top: 70px;
    margin-left: 40px;
    text-transform: uppercase;
    color: white;
}
.symbol{
    margin: 25px 0 0 20px;    
    color: rgb(0, 0, 0);
    transition: ease 0.5s;
}


.container .material-symbols-outlined {
    font-size: 50px;
}
.box1:hover .symbol{
    color: var(--secondary-color);
}
.first{
    border: 2px solid var(--border-color);
    border-radius: 100% 0% 100% 0% / 100% 100% 0% 0% ;
    
    position: relative;
    top: 0;
    left: 0;
    transition: ease 0.3s;
}
.first:hover{
    top: -5px;
    left: -5px;
    box-shadow: 5px 5px 10px var(--shadow-collor),
                -5px -5px 10px var(--shadow-collor);
}

.pading{
    height: 100px;
}

.logo{
    margin: 40px 0 0 8px;
    height: 60px;
    
}
.margin{
    margin: 25px 0 0px 35px;
}
.rotate .margin-right{
    margin: 35px 0 0 10px;
}

.box-bottom{
    border: 2px solid var(--border-color);
    border-radius: 0% 100% 100% 0% / 0% 0% 100% 100% ;
    position: relative;
    top: 0;
    left: 0;
    transition: ease 0.3s;
}
.box-bottom:hover{
    border: 0px solid rgb(0, 0, 0, 0%);
    top: -5px;
    left: 5px;
    
    box-shadow: 5px 5px 10px var(--shadow-collor),
                -5px -5px 10px var(--shadow-collor);
}
.box-bottom:hover .symbol{
    color: var(--secondary-color);
}
.pading-2{
    margin-top: 40px;
}