@import './variables.css';
@import 'grid.css';
@import '../fontawesome-free-6.1.1-web/css/fontawesome.min.css';

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    /* background: linear-gradient(90deg, #99bcc4 0%, #08535d 50%, #02333c 100%);  */
    background-repeat: repeat-y;
    background-size:auto;
    overflow-x: hidden;
}

.size{
    margin: 30px 0 0 20px;
    font-size: 50px;
    color: black;    
    transform: all ease 2s;
}

.size2{
    margin: 30px 0 0 5px;
    font-size: 50px;
    color: black;
}
.size3{
    margin: 30px 0 0 20px;
    font-size: 50px;
    color: black;
}

.h2-midle{
    text-align: center;
    font-size: 17px;
    margin: 39px 0 0 4px ;

}
.h2-midle:hover{
    color: var(--hover-color);

}
/* 
.main-tab{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    width: 80%;
    height: 800px;
    background-color: rgb(20, 20, 20);
    box-shadow: 20px 20px 50px rgba(255, 255, 255, 0.495);
    border-radius: 20px 20px 20px 20px;

}
.tab{
    width: 50%;
}
.left-text{
    width: 100%;
    text-align: center;
    border-bottom: 2px solid var(--main-color);
    
    border-top: 2px solid var(--main-color);
    border-radius: 20px 0 20px;
}
.left-img{
    background-image: url(./img/10441.JPG);
    background-size: cover;
    background-position: center -70px;
    background-repeat: no-repeat;
    height: 82%;
    border-radius: 0 0px 0 20px ;
    animation: laudas1 10s infinite;
  }
  
  @keyframes laudas1 {

    0% {
        
      
      background-image: url(./img/10441.JPG);
    }
    25%{

        background-image: url(./img/10442.JPG);
    }

    50%{
        background-image: url(./img/10443.JPG);
    }
    
    
    100% {
      
        background-image: url(./img/10444.JPG);
      
    }
  }

.right-img{
    background-image: url(./img/10442.JPG);
    background-size: cover;
    background-position: center -50px;
    
    background-repeat: no-repeat;
    height: 84.5%;
    border-radius: 0 20px 0 20px ;
}
.right-text{
    width: 100%;
    text-align: center;
    height: 15%;
    border-top: 2px solid var(--main-color);
    border-radius:20px 0;

    border-bottom: 2px solid var(--main-color);
}
h1{
    color: var(--main-color);
    padding: 30px;
} */