@import './variables.css';
@import './grid.css';
@import '../fontawesome-free-6.1.1-web/css/fontawesome.min.css';
@import './Gallery/css/demo.css';
@import './Gallery/css/style.css';
@import './header.css';
@import './form.css';


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    /* background: linear-gradient(90deg, #99bcc4 0%, #08535d 50%, #02333c 100%);  */
    background-repeat: repeat-y;
    background-size:auto;
    overflow-x: hidden;
}



.size{
    margin: 30px 0 0 20px;
    font-size: 50px;
    color: black;    
    transform: all ease 2s;
}

.size2{
    margin: 30px 0 0 5px;
    font-size: 50px;
    color: black;
}
.size3{
    margin: 30px 0 0 30px;
    font-size: 50px;
    color: black;
}

.h2-midle{
    text-align: center;
    font-size: 17px;
    margin: 39px 0 0 4px ;

}
.h2-midle:hover{
    color: var(--hover-color);

}
.h2-midle-left{
    text-align: center;
    font-size: 17px;
    margin: 39px 0 0 25px ;
}
.h2-midle-left:hover{
    color: var(--hover-color);

}
.h2-midle-right{
    text-align: center;
    font-size: 17px;
    margin: 39px 0 0 -40px ;
}

.h2-centrinis{
    font-size: 17px;
    margin:  0 0 0 0px ;
    padding: 0;

}
.h2-centrinis:hover{
    color: var(--hover-color);

}
