:root{

    --background-color: rgb(223, 214, 91);
    --main-color: rgb(111, 111, 111);
    --text-color: rgb(221, 221, 222);
    --secondary-color: #fff;
    --border-color: rgb(0, 0, 0);
    --shadow-collor: rgb(255, 255, 255);
    --hover-color: rgb(177, 16, 16);


}
